{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Prédiction du prix de la maison</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'main_app/style.css' %}">
    <script src='main.js'></script>
</head>

<body>
    <div class="register_page">
        <div class="form">
            <form action="{% url 'predict' %}" method="post">
                {% csrf_token %}
                Surface Totale: <input type="number" name='TotalSF' placeholder="Quelle est la surface total?"><br>
                Age: <input type="number" name='Age' placeholder="L'âge du bien immobilier"><br>
                Quartier: <input type="text" name='Neighborhood' placeholder="Nom du quartier de Ames"><br>
                Qualité générale des finitions et des matérieux: <input type="number" name='Overall Qual' placeholder="Qualité entre 1 (très mauvais) et 10 (Excellent)"><br>
                Évalue la hauteur du sous-sol: <input type="text" name='Bsmt Qual' placeholder=" Ex	Excellent (100+ inches)	, Gd	Good (90-99 inches), TA	Typical (80-89 inches), Fa	Fair (70-79 inches), Po	Poor (<70 inches), NA	No Basement"><br>
                Qualité des matériaux extérieurs: <input type="text" name='Exter Qual' placeholder=" Ex:Excellent, Gd:Good, TA:Average, Fa:Fair, Po:Poor"><br>
                Qualité de la cuisine: <input type="text" name='Kitchen Qual' placeholder="Ex: Excellent, Gd	Good, TA	Typical/Average, Fa	Fair, Po	Poor"><br>
                Taille du garage en capacité de voitures: <input type="number" name='Garage Cars' placeholder="Nombre de voitures possible dans le garage"><br>
                Finition intérieure du garage: <input type="text" name='Garage Finish' placeholder=" Fin:Finished, RFn:Rough Finished, Unf:Unfinished, NA:No Garage"><br>
                Nombre de salle de bain: <input type="number" name='TotalBathrooms' placeholder="Nombre de salles de bain"><br>

                <input type="submit" value="predict" class="submit">
            </form>
            <p> La maison vaut: {{data}}</p>
        </div>

    </div>


</body>

</html>